apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: voice-engine-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: voice-stream-engine
  minReplicas: 2
  maxReplicas: 20
  metrics:
  # Scale up if CPU goes above 50%
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  # Scale up if Memory goes above 70%
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 70